.tag.is-A {
  background-color: #007e00;
  color: #EEE;
}

.tag.is-B{
  background-color: #79b752;
  color: #3d3d3d;
}

.tag.is-C{
  background-color: #f89406;
  color: #414141;
}

.tag.is-D{
  background-color: #ad5300;
  color: #EEE;
}

.tag.is-E{
  background-color: #C43C35;
}
